@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.container {
  width: calc(100% - 20px);
  height: 100%;
  margin: 0 10px;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.container > * {
  height: 35px;
  padding: 0;
  margin-top: 10px;
  border-radius: 15px;
  border: none;

  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}

.container > *:focus {
  outline: none;
}

.container > *::selection {
  background: hsl(282deg 62% 53%);
  color: white;
}

.container > input {
  padding: 0 10px;
  text-transform: capitalize;
  caret-color: hsl(338deg 95% 53%);
}

.container > button {
  text-transform: uppercase;

  color: white;

  background-image: linear-gradient(
    135deg,
    hsl(282deg 62% 53%) 1%,
    hsl(288deg 58% 51%) 29%,
    hsl(294deg 56% 49%) 43%,
    hsl(300deg 56% 48%) 55%,
    hsl(306deg 59% 49%) 64%,
    hsl(312deg 62% 49%) 73%,
    hsl(316deg 66% 50%) 80%,
    hsl(321deg 70% 51%) 86%,
    hsl(325deg 75% 52%) 91%,
    hsl(328deg 80% 52%) 95%,
    hsl(332deg 85% 52%) 98%,
    hsl(335deg 90% 53%) 99%,
    hsl(338deg 95% 53%) 100%
  );

  box-shadow: 2px 2px 1px 0px #762543;
  cursor: pointer;

  transition: all 0.3s ease;
  filter: brightness(100%);
}

.container > button:hover {
  filter: brightness(120%);
}

.container > button:active {
  box-shadow: inset 2px 2px 1px 0px #762543;
  filter: brightness(90%);
}
